<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ae.mylibrary">

    <application>
        <activity android:name=".entities.characterdetail.view.CharactersListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="my_deep_link"
                    android:scheme="library" />
            </intent-filter>
        </activity>
    </application>

</manifest>